@use "../../assets/images/sass/variables" as *;

.home {
  margin-top: 3.5rem;
  color: $color-black;
  height: 100%;
  width: 100%;

  & > * {
    padding: 0 50px;
  }

  .greeting {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-top: 1rem;
    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 20px;
    }
  }
}

.presentation {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

  &__heading {
    margin-top: 8rem;
    color: $color-black;
  }
  &__subheading {
    margin-top: 3.7em;
    color: $color-black;
  }
}

@media screen and (min-width: 992px) {
  .home {
    max-width: 1200px;
    margin: 10em auto;
    gap: 25px 100px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr;

    & > * {
      padding: 0;
    }

    .greeting {
      text-align: left;
      display: flex;
      grid-column: 1/ -1;

      &__img {
        height: 100px;
      }

      &__heading {
        margin-top: 1.8em;
      }
    }
  }

  .presentation {
    text-align: center;
    font-size: 1.5em;

    &__heading {
      margin-top: 0.9rem;
      margin-right: 17rem;
      grid-template-areas: "heading";
      color: $color-black;
    }
    &__subheading {
      margin-top: 4.5em;
      margin-left: 15rem;
      color: $color-black;
    }
  }
}
