@use "../../assets/images/sass/variables" as *;

.home {
  color: $color-black;

  & > * {
    padding: 0 50px;
  }

  .greeting {
    text-align: center;

    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 20px;
    }
  }

  
  
  

  
}

@media screen and (min-width: 992px) {
  .home {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 25px 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;

    & > * {
      padding: 0;
    }

    .greeting {
      text-align: left;
      display: flex;
      grid-column: 1/ -1;

      &__img {
        height: 100px;
      }

      &__heading {
        margin-top: 1.5em;
      }
    }

  }
}
